$ cat .gitignore
*.mdf
*.ldf
*.suo
*.user
*.userosscache
*.sln.docstates
/QWERTYShop/[Dd]ebug/
/QWERTYShop/[Dd]ebugPublic/
/QWERTYShop/[Rr]elease/
/QWERTYShop/[Rr]eleases/
x64/
x86/
bld/
/QWERTYShop/[Bb]in/
/QWERTYShop/[Oo]bj/
/QWERTYShop/[Ll]og/
/QWERTYShop/App_Data