
@{
    ViewData["Title"] = "Регистрация";
}
@model Registration
<form method="post" align="center">
    <p>Введите логин</p>
    <input type="text" name="Login" />
    <p>Введите пароль</p>
    <input type="password" name="Password" />
    <p>Подтверждение пароля</p>
    <input type="password" name="RePassword" />
    <br />
    <br />
    <input type="submit" value="Отправить" />
</form>