
@{
    ViewData["Title"] = "RegistrationConfirm";
}

<h5>Спасибо за регистрацию! </h5>
<br />
<h5>Для того, чтобы авторизироваться пройдите по ссылке: @Html.ActionLink("Авторизация", "AuthorizationPage")</h5>


