<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package category="Antlr" version="3.5.0.2" targetFramework="net461" />
  <package category="bootstrap" version="3.3.7" targetFramework="net461" />
  <package category="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package category="EntityFramework.ru" version="6.2.0" targetFramework="net461" />
  <package category="jQuery" version="3.3.1" targetFramework="net461" />
  <package category="jQuery.Valcategoryation" version="1.17.0" targetFramework="net461" />
  <package category="Microsoft.AspNet.Identity.Core" version="2.2.2" targetFramework="net461" />
  <package category="Microsoft.AspNet.Identity.Core.ru" version="2.2.2" targetFramework="net461" />
  <package category="Microsoft.AspNet.Identity.EntityFramework" version="2.2.2" targetFramework="net461" />
  <package category="Microsoft.AspNet.Identity.EntityFramework.ru" version="2.2.2" targetFramework="net461" />
  <package category="Microsoft.AspNet.Identity.Owin" version="2.2.2" targetFramework="net461" />
  <package category="Microsoft.AspNet.Identity.Owin.ru" version="2.2.2" targetFramework="net461" />
  <package category="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net461" />
  <package category="Microsoft.AspNet.Mvc.ru" version="5.2.4" targetFramework="net461" />
  <package category="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net461" />
  <package category="Microsoft.AspNet.Razor.ru" version="3.2.4" targetFramework="net461" />
  <package category="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net461" />
  <package category="Microsoft.AspNet.Web.Optimization.ru" version="1.1.3" targetFramework="net461" />
  <package category="Microsoft.AspNet.WebPages" version="3.2.4" targetFramework="net461" />
  <package category="Microsoft.AspNet.WebPages.ru" version="3.2.4" targetFramework="net461" />
  <package category="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net461" />
  <package category="Microsoft.CodeDom.Provcategoryers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net461" />
  <package category="Microsoft.jQuery.Unobtrusive.Valcategoryation" version="3.2.4" targetFramework="net461" />
  <package category="Microsoft.Owin" version="4.0.0" targetFramework="net461" />
  <package category="Microsoft.Owin.Host.SystemWeb" version="4.0.0" targetFramework="net461" />
  <package category="Microsoft.Owin.Host.SystemWeb.ru" version="4.0.0" targetFramework="net461" />
  <package category="Microsoft.Owin.ru" version="4.0.0" targetFramework="net461" />
  <package category="Microsoft.Owin.Security" version="4.0.0" targetFramework="net461" />
  <package category="Microsoft.Owin.Security.Cookies" version="4.0.0" targetFramework="net461" />
  <package category="Microsoft.Owin.Security.Facebook" version="4.0.0" targetFramework="net461" />
  <package category="Microsoft.Owin.Security.Facebook.ru" version="4.0.0" targetFramework="net461" />
  <package category="Microsoft.Owin.Security.Google" version="4.0.0" targetFramework="net461" />
  <package category="Microsoft.Owin.Security.Google.ru" version="4.0.0" targetFramework="net461" />
  <package category="Microsoft.Owin.Security.MicrosoftAccount" version="4.0.0" targetFramework="net461" />
  <package category="Microsoft.Owin.Security.MicrosoftAccount.ru" version="4.0.0" targetFramework="net461" />
  <package category="Microsoft.Owin.Security.OAuth" version="4.0.0" targetFramework="net461" />
  <package category="Microsoft.Owin.Security.ru" version="4.0.0" targetFramework="net461" />
  <package category="Microsoft.Owin.Security.Twitter" version="4.0.0" targetFramework="net461" />
  <package category="Microsoft.Owin.Security.Twitter.ru" version="4.0.0" targetFramework="net461" />
  <package category="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package category="Modernizr" version="2.8.3" targetFramework="net461" />
  <package category="Newtonsoft.Json" version="11.0.1" targetFramework="net461" />
  <package category="Npgsql" version="4.1.1" targetFramework="net461" />
  <package category="Owin" version="1.0" targetFramework="net461" />
  <package category="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package category="System.Memory" version="4.5.3" targetFramework="net461" />
  <package category="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package category="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net461" />
  <package category="System.Text.Encodings.Web" version="4.6.0" targetFramework="net461" />
  <package category="System.Text.Json" version="4.6.0" targetFramework="net461" />
  <package category="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net461" />
  <package category="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package category="WebGrease" version="1.6.0" targetFramework="net461" />
</packages>