@model QWERTYShop.Models.CardsModels
@{
    ViewBag.Title = "Card";
}

<h2>@Model.Name</h2>
<p>@Model.Image</p>
<p>@Model.Information</p>
<p>@Model.Cost</p>

<input type="submit" name="Purchase" value="Купить!" style="color:darkred" />
