
@{
    ViewBag.Title = "AddInformation";
}

<h2>Добавление характеристик товару</h2>

<form method="post">
    @foreach (var element in ViewBag.Properties)
    {
        <p>@element:</p>
        <input name="values" id="values" type="text" value=""/> <br/>
    }
    <input type="submit" value="Отправить!"/>
</form>

