@model QWERTYShop.Models.AddPropertiesToTypeModels
@{
    ViewBag.Title = "AddPropertiesToType";
}

<h2>Меню добавления ключевых характеристик конкретной категории</h2>
@ViewBag.Message
<form method="post">
    @Html.LabelFor(x => x.Type)<br />
    <select name="Type">
        @foreach (var element in ViewBag.Types)
        {
        <option>@element</option>
        }
    </select><br/><br/>
    @Html.LabelFor(x=>x.Properties)<br/>
    <textarea name="Properties" cols="100" required></textarea> <br />
    <input type="submit" value="Добавить"/>
</form>

<style>
    textarea {
        resize: none;
        height: 150px;
    }
</style>