<h1 align="center">Управление сайтом</h1>
<p>@Html.ActionLink("Меню добавления карточек", "AddNewCard", "Managment")</p>
<p>@Html.ActionLink("Меню добавления городов", "AddNewCity", "Managment")</p>
<p>@Html.ActionLink("Меню управления заказами", "PurchaseManagment", "Managment")</p>
<input  value="Меню добавления категорий" type="button" onClick='location.href="http://qwertyshop.azurewebsites.net/Managment/AddNewType"' /> <br/>
<input  value="Меню добавления характеристик категориям" type="button" onClick='location.href="http://qwertyshop.azurewebsites.net/Managment/AddPropertiesToType"' />



