
@{
    ViewBag.Title = "View";
}

<h2>Меню управлением точек самовывоза</h2>
@ViewBag.Message
<form method="post">
    <p>Введите название города</p>
    <input type="text" name="list" required/> <br/>
    <p>Введите адрес точки самовывоза</p>
    <input type="text" name="list" required=""/> <br/>
    <input type="submit" value="Добавить"/>
</form>

